{% extends 'core/base.html' %}
{% block stories %}
 {% comment %} <!--------------------------------------- STORIES ---------------------------------------> {% endcomment %}
 <div class="stories">
  <div class="story">
    <div class="profile-photo">
      <img src="./clients/1-(14).jpg" alt="" />
    </div>
    <p class="name">Your Stories</p>
  </div>
  <div class="story">
    <div class="profile-photo">
      <img src="./clients/1-(14).jpg" alt="" />
    </div>
    <p class="name">Your Stories</p>
  </div>
  <div class="story">
    <div class="profile-photo">
      <img src="./clients/1-(14).jpg" alt="" />
    </div>
    <p class="name">Your Stories</p>
  </div>
  <div class="story">
    <div class="profile-photo">
      <img src="./clients/1-(14).jpg" alt="" />
    </div>
    <p class="name">Your Stories</p>
  </div>
  <div class="story">
    <div class="profile-photo">
      <img src="./clients/1-(14).jpg" alt="" />
    </div>
    <p class="name">Your Stories</p>
  </div>
  <div class="story">
    <div class="profile-photo">
      <img src="./clients/1-(14).jpg" alt="" />
    </div>
    <p class="name">Your Stories</p>
  </div>
 


  
  <div class="story">
    <div class="profile-photo">
      <img src="./clients/1-(15).jpg" alt="" />
    </div>
    <p class="name">Halle</p>
  </div>
</div>
{% comment %} <!--------------------------------------- END OF STORIES ---------------------------------------> {% endcomment %}
{% endblock stories %}


{% block feeds %}
<div class="feeds">
  {% comment %} <!--------------------------------------- FEED1 ---------------------------------------> {% endcomment %}
  <div class="feed">
      <div class="head">
          <div class="user">
          <div class="profile-photo">
              <img src="./clients/1-(15).jpg" alt="" />
          </div>
          <div class="ingo">
              <h3>Lana rose</h3>
              <small>Dubai, 15 MINUTES AGO</small>
          </div>
          </div>
          <span class="edit">
          <i class="uil uil-ellipsis-h"></i>
          </span>
      </div>
    <div class="photo">
      <img src="./clients/1-(2).jpg" alt="" />
    </div>

      <div class="action-buttons">
          <div class="interaction-buttons">
          <span><i class="uil uil-heart"></i></span>
          <span><i class="uil uil-comment-dots"></i></span>
          <span><i class="uil uil-share-alt"></i></span>
          </div>
          <div class="bookmark">
          <span><i class="uil uil-bookmark-full"></i></span>
          </div>
      </div>
      <div class="liked-by">
          <span><img src="./clients/1-(7).jpg" alt="" /></span>
          <span><img src="./clients/1-(8).jpg" alt="" /></span>
          <span><img src="./clients/1-(9).jpg" alt="" /></span>
          <span><img src="./clients/1-(10).jpg" alt="" /></span>
          <span><img src="./clients/1-(15).jpg" alt="" /></span>

          
          <p>Liked by <b>Ernest Achiever</b> and <b>2,323 others</b></p>
          
      </div>
      <div class="caption">
          <p>
          <b>Lana Rose</b>Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Ducimus modi nihil assumenda.
          <span class="hash-tag">#lifestyle</span>
          </p>
      </div>
    <div class="comments text-muted">View all 277 comments</div>
  </div>
  {% comment %} <!--------------------------------------- FEED2 ---------------------------------------> {% endcomment %}

  <div class="feed">
      <div class="head">
          <div class="user">
          <div class="profile-photo">
              <img src="./clients/1-(15).jpg" alt="" />
          </div>
          <div class="ingo">
              <h3>Lana rose</h3>
              <small>Dubai, 15 MINUTES AGO</small>
          </div>
          </div>
          <span class="edit">
          <i class="uil uil-ellipsis-h"></i>
          </span>
      </div>
    <div class="photo">
      <img src="./clients/1-(3).jpg" alt="" />
    </div>

      <div class="action-buttons">
          <div class="interaction-buttons">
          <span><i class="uil uil-heart"></i></span>
          <span><i class="uil uil-comment-dots"></i></span>
          <span><i class="uil uil-share-alt"></i></span>
          </div>
          <div class="bookmark">
          <span><i class="uil uil-bookmark-full"></i></span>
          </div>
      </div>
      <div class="liked-by">
          <span><img src="./clients/1-(7).jpg" alt="" /></span>
          <span><img src="./clients/1-(8).jpg" alt="" /></span>
          <span><img src="./clients/1-(9).jpg" alt="" /></span>
          <span><img src="./clients/1-(10).jpg" alt="" /></span>
          <span><img src="./clients/1-(15).jpg" alt="" /></span>
         
          <p>Liked by <b>Ernest Achiever</b> and <b>2,323 others</b></p>
         
      </div>
      <div class="caption">
          <p>
          <b>Lana Rose</b>Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Ducimus modi nihil assumenda.
          <span class="hash-tag">#lifestyle</span>
          </p>
      </div>
    <div class="comments text-muted">View all 277 comments</div>
  </div>
  {% comment %} <!--------------------------------------- FEED3 ---------------------------------------> {% endcomment %}

  <div class="feed">
      <div class="head">
          <div class="user">
          <div class="profile-photo">
              <img src="./clients/1-(15).jpg" alt="" />
          </div>
          <div class="ingo">
              <h3>Lana rose</h3>
              <small>Dubai, 15 MINUTES AGO</small>
          </div>
          </div>
          <span class="edit">
          <i class="uil uil-ellipsis-h"></i>
          </span>
      </div>
    <div class="photo">
      <img src="./clients/1-(4).jpg" alt="" />
    </div>

      <div class="action-buttons">
          <div class="interaction-buttons">
          <span><i class="uil uil-heart"></i></span>
          <span><i class="uil uil-comment-dots"></i></span>
          <span><i class="uil uil-share-alt"></i></span>
          </div>
          <div class="bookmark">
          <span><i class="uil uil-bookmark-full"></i></span>
          </div>
      </div>
      <div class="liked-by">
          <span><img src="./clients/1-(7).jpg" alt="" /></span>
          <span><img src="./clients/1-(8).jpg" alt="" /></span>
          <span><img src="./clients/1-(9).jpg" alt="" /></span>
          <span><img src="./clients/1-(10).jpg" alt="" /></span>
          <span><img src="./clients/1-(15).jpg" alt="" /></span>
          
          <p>Liked by <b>Ernest Achiever</b> and <b>2,323 others</b></p>
         
      </div>
      <div class="caption">
          <p>
          <b>Lana Rose</b>Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Ducimus modi nihil assumenda.
          <span class="hash-tag">#lifestyle</span>
          </p>
      </div>
    <div class="comments text-muted">View all 277 comments</div>
  </div>
  {% comment %} <!--------------------------------------- FEED4 ---------------------------------------> {% endcomment %}

  <div class="feed">
      <div class="head">
          <div class="user">
          <div class="profile-photo">
              <img src="./clients/1-(15).jpg" alt="" />
          </div>
          <div class="ingo">
              <h3>Lana rose</h3>
              <small>Dubai, 15 MINUTES AGO</small>
          </div>
          </div>
          <span class="edit">
          <i class="uil uil-ellipsis-h"></i>
          </span>
      </div>
    <div class="photo">
      <img src="./clients/1-(5).jpg" alt="" />
    </div>

      <div class="action-buttons">
          <div class="interaction-buttons">
          <span><i class="uil uil-heart"></i></span>
          <span><i class="uil uil-comment-dots"></i></span>
          <span><i class="uil uil-share-alt"></i></span>
          </div>
          <div class="bookmark">
          <span><i class="uil uil-bookmark-full"></i></span>
          </div>
      </div>
      <div class="liked-by">
          <span><img src="./clients/1-(7).jpg" alt="" /></span>
          <span><img src="./clients/1-(8).jpg" alt="" /></span>
          <span><img src="./clients/1-(9).jpg" alt="" /></span>
          <span><img src="./clients/1-(10).jpg" alt="" /></span>
          <span><img src="./clients/1-(15).jpg" alt="" /></span>
          
          <p>Liked by <b>Ernest Achiever</b> and <b>2,323 others</b></p>
          
      </div>
      <div class="caption">
          <p>
          <b>Lana Rose</b>Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Ducimus modi nihil assumenda.
          <span class="hash-tag">#lifestyle</span>
          </p>
      </div>
    <div class="comments text-muted">View all 277 comments</div>
  </div>
</div>
{% endblock feeds %}


{% block messages %}
<div class="message">
  <div class="profile-photo">
      <img src="./clients/1-(15).jpg" alt="">
  </div>
  <div class="message-body">
      <h5><a href="{% url 'profile_view' request.user.username  %}">karan</a></h5>
      <p class="text-muted">Just wake up bruh</p>
  </div>
</div>
<div class="message">
<div class="profile-photo">
    <img src="./clients/1-(15).jpg" alt="">
</div>
<div class="message-body">
    <h5>Edem Quist</h5>
    <p class="text-muted">Just wake up bruh</p>
</div>
</div>
<div class="message">
<div class="profile-photo">
  <img src="./clients/1-(15).jpg" alt="">
</div>
<div class="message-body">
  <h5>Edem Quist</h5>
  <p class="text-muted">Just wake up bruh</p>
</div>
</div>
<div class="message">
<div class="profile-photo">
<img src="./clients/1-(15).jpg" alt="">
</div>
<div class="message-body">
<h5>Edem Quist</h5>
<p class="text-muted">Just wake up bruh</p>
</div>
</div>
<div class="message">
<div class="profile-photo">
<img src="./clients/1-(15).jpg" alt="">
</div>
<div class="message-body">
<h5>Edem Quist</h5>
<p class="text-muted">Just wake up bruh</p>
</div>
</div>
</div>
{% comment %} <!-----------------------------END OF MESSAGES ------------------------------> {% endcomment %}


{% comment %} <!-----------------------------FRIEND REQUEST ------------------------------> {% endcomment %}

<div class="friend-request">
<h4>Requests</h4>
  <div class="request">
        <div class="info">
                  <div class="profile-photo">
                      <img src="./clients/1-(15).jpg" alt="">
                  </div>
            <div>
              <h5><a href="#">sahil</a></h5>
              <p class="text-muted">
                  8 mutual friends 
              </p>
            </div>
        </div>
      <div class="action">
        <button class="btn btn-primary">
            Accept
        </button>
        <button class="btn ">
            Decline
        </button>
    </div>
  </div>
  <div class="request">
    <div class="info">
              <div class="profile-photo">
                  <img src="./clients/1-(15).jpg" alt="">
              </div>
        <div>
          <h5>Hajia Bintu</h5>
          <p class="text-muted">
              8 mutual friends 
          </p>
        </div>
    </div>
  <div class="action">
    <button class="btn btn-primary">
        Accept
    </button>
    <button class="btn ">
        Decline
    </button>
</div>
</div>
<div class="request">
<div class="info">
          <div class="profile-photo">
              <img src="./clients/1-(15).jpg" alt="">
          </div>
    <div>
      <h5>Hajia Bintu</h5>
      <p class="text-muted">
          8 mutual friends 
      </p>
    </div>
</div>
<div class="action">
<button class="btn btn-primary">
    Accept
</button>
<button class="btn ">
    Decline
</button>
</div>
</div>
<div class="request">
<div class="info">
      <div class="profile-photo">
          <img src="./clients/1-(15).jpg" alt="">
      </div>
<div>
  <h5>Hajia Bintu</h5>
  <p class="text-muted">
      8 mutual friends 
  </p>
</div>
</div>
<div class="action">
<button class="btn btn-primary">
Accept
</button>
<button class="btn ">
Decline
</button>
</div>
</div>
</div>
</div>
{% endblock messages %}